
  <head>
    <title>Book Database</title>
    <link rel="stylesheet" type="text/css" href="/public/stylesheet.css">
    <title>{{book.Title}}>></title>
    <nav>
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/toread">To-Read Books</a></li>
    <li><a href="/completed">Completed Books</a></li>
    <li><a href="/allauthors">Books by Author</a></li>
    <li><a href="/allgenres">Books by Genre</a></li>
    <li style="float:right"><a href="/logout">Logout</a></li>
    </ul>
    </nav>
  </head>
  <main>
    <h1>{{book.title}}</h1>
    <h2>{{book.author}}</h2>
    <img src={{book.imageUrl}} alt="Book"><br/>
    {{#if toRead}}<p>This book is in your "To Read" list.</p>{{/if}}
    {{#if completed}}<p>This book is in your "Completed" list</p>{{/if}}
    <form action="/addToRead" method="post">
      <input type="hidden" name="book_id" value="{{book._id}}" />
      <input type="submit" value="Add to Books to Read" {{#if toRead}}disabled{{/if}} />
    </form>
    <form action="/addCompleted" method="post">
      <input type="hidden" name="book_id" value="{{book._id}}" />
      <input type="submit" value="Add to Completed" {{#if completed}}disabled{{/if}} />
    </form>
    <br>
    <button type="button" onclick="javascript:history.back()">Back</button>
  </main>
