<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/public/stylesheet.css">
    <title>Book Database</title>
    <nav>
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/toread">To-Read Books</a></li>
    <li><a class="active" href="/completed">Completed Books</a></li>
    <li style="float:right"><a href="/logout">Logout</a></li>
    </ul>
    </nav>
</head>
<body>
    <main>
        {{#if books}}
        <h2>Here are all the books you have completed:</h2>
        <table>
	        <tr>
	            <th>Title</th>
	            <th>Author</th>
                <th>Notes</th>
	        </tr>
	        {{#each books}}
	         <tr>
	            <td width="41%"><a href="/book/{{bookid}}" alt="{{bookid}}">{{title}}</a></td>
	            <td width="41%">{{author}}</td>
                <td width="18%" id="{{{bookid}}}" >
                    <p>{{notes}}</p> 
                    <textarea id="notes" name="Notes"></textarea>
                    <form id="update" action="/completed/{{bookid}}" onsubmit="annotate(&quot;{{bookid}}&quot,2); return false;">
                    <button type="submit" formmethod="POST"> Update Notes </button>
                    </form>
                </td>
	        </tr>
	        {{/each}}
	    </table>
        {{else}}
        <br>
        <br>
        <h2>After you add a book to your Completed list, it will be displayed here</h2>
        {{/if}}
    </main>
    <script src="/public/ajax.js"></script>
</body>