<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/public/stylesheet.css">
    <title>Completed Books</title>
    <nav>
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/toread">To-Read Books</a></li>
    <li><a class="active" href="/completed">Completed Books</a></li>
    <li><a href="/allauthors">Books by Author</a></li>
    <li><a href="/allgenres">Books by Genre</a></li>
    <li style="float:right"><a href="/logout">Logout</a></li>
    </ul>
    </nav>
</head>
<body>
    <main>
        {{#if books}}
        <h1 class="user_book_lists">Here are all the books you have completed:</h1>
        <table>
	        <tr>
	            <th width="41%">Title</th>
	            <th width="41%">Author</th>
                <th width="18%">Notes</th>
	        </tr>
	        {{#each books}}
	         <tr>
	            <td><a href="/book/{{bookid}}">{{title}}</a></td>
	            <td>{{author}}</td>
                <td id="{{{bookid}}}" >
                    <p>{{notes}}</p> 
                    <textarea id="notes" name="Notes"></textarea>
                    <form id="update" action="/completed/{{bookid}}" onsubmit="annotate(&quot;{{bookid}}&quot,2); return false;">
                    <button type="submit" formmethod="POST"> Update Notes </button>
                    </form>
                </td>
	        </tr>
	        {{/each}}
	    </table>
        {{else}}
        <br>
        <br>
        <h1 class='to_be_displayed'>After you add a book to your Completed list, it will be displayed here</h1>
        {{/if}}
    </main>
    <script src="/public/ajax.js"></script>
</body>