<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/public/stylesheet.css">
    <title>Book Database</title>
    <nav>
    <ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/toread">To-Read Books</a></li>
    <li><a href="/completed">Completed Books</a></li>
    <li><a href="/allauthors">Books by Author</a></li>
    <li><a href="/allgenres">Books by Genre</a></li>
    <li style="float:right"><a href="/logout">Logout</a></li>
    </ul>
    </nav>
</head>
<body>
  <header>
  </header>
  <h1>
    Book Database
  </h1>
  <main>
    <form method="post" action="/search" id="login-form">
      <label for="search">Search</label>
      <input type="text" name="search" id="search" placeholder="Search"/>
      <input type="submit" value="search" />
    </form>

  {{#if searchWord}}
  <p>You searched for: {{searchWord}}</p>
  {{/if}}

    <div id="BookList">
	<table>
	  <tr>
	    <th>Title</th>
	    <th>Author</th>
	  </tr>
	  {{#each books}}
	  <tr>
	    <td><a href="/book/{{_id}}">{{title}}</a></td>
	    <td>{{author}}</td>
	  </tr>
    {{else}}
      <p>No search results available.</p>
	  {{/each}}
	</table>
    </div> 
  </main>
</body>
